<form [formGroup]="profileForm">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.sign.email' | translate }}</mat-label>
    <input
      matInput
      type="email"
      placeholder="user@mail.com"
      formControlName="emailFormControl"
    />

    <mat-error
      *ngIf="
        profileForm.controls.emailFormControl.errors &&
        profileForm.controls.emailFormControl.errors.email
      "
    >
      {{ 'forms.error-message.email-valid' | translate }}
    </mat-error>
    <mat-error
      *ngIf="
        profileForm.controls.emailFormControl.errors &&
        profileForm.controls.emailFormControl.errors.required
      "
    >
      {{ 'forms.error-message.email-required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.sign.password' | translate }}</mat-label>
    <input matInput type="password" formControlName="passwordFormControl" />
    <mat-error
      *ngIf="
        profileForm.controls.passwordFormControl.errors &&
        profileForm.controls.passwordFormControl.errors.required
      "
    >
      {{ 'forms.error-message.password-required' | translate }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="fl-right"
    (click)="onSubmit()"
  >
    {{ 'forms.sign.enter' | translate }}
  </button>
</form>
