main {
  height: 100vh;
}
.bg-login {
  height: 85px;
  width: 260px;
  background-size: 390px;
  background-position-y: -70px;
}
@media screen and (max-width: 450px) {
  .card {
    width: 275px;
  }
}
