<main class="d-flex jc-center ai-center main-sign">
  <div class="card card-sign-up">
    <div class="d-flex jc-center">
      <div class="bg-login icons-image"></div>
    </div>

    <div class="d-flex jc-center" *ngIf="isSignIn">
      <app-sign-in></app-sign-in>
    </div>

    <div class="d-flex jc-center" *ngIf="!isSignIn">
      <app-sign-up></app-sign-up>
    </div>

    <div>
      <button mat-button (click)="changeFormSignIn()">
        <span *ngIf="isSignIn">{{
          'forms.sign.create-account' | translate
        }}</span>
        <span *ngIf="!isSignIn">{{
          'forms.sign.sign-in-instead' | translate
        }}</span>
      </button>
    </div>
  </div>
</main>
