<app-modal-right
  [close]="true"
  [closeModalSubscription]="closeSubject.asObservable()"
  (closed)="onChangeModalState('isPostOpen')"
  *ngIf="isPostOpen"
  [modalRightWidth]="'90%'"
>
  <mat-icon
    class="arrow-right-icon"
    aria-hidden="false"
    aria-label="Arrow"
    closeIcon
    >arrow_forward</mat-icon
  >
  <app-full-post [post]="post" body></app-full-post>
</app-modal-right>

<main>
  <div class="main-center">
    <aside class="main-filter-container">
      <h3>{{ 'home.feeds.filter' | translate }}</h3>
      <form [formGroup]="searchForm">
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          #matButtonToggle="matButtonToggleGroup"
          (change)="changeTypeSearch(matButtonToggle.value)"
        >
          <ng-container *ngFor="let option of toggleOptions; let i = index">
            <mat-button-toggle value="{{ option }}" checked="{{ i === 0 }}">{{
              'home.feeds.options.' + option | translate
            }}</mat-button-toggle>
          </ng-container>
        </mat-button-toggle-group>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'home.feeds.columns-name' | translate }}</mat-label>
          <mat-select [disabled]="!columns || !columns.length">
            <mat-option *ngFor="let column of columns" [value]="column._id">
              {{ column.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'home.feeds.post-name' | translate }}</mat-label>
          <input matInput type="text" formControlName="searchFormControl" />
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        color="primary"
        class="fl-right"
        (click)="onSubmit()"
      >
        {{ 'home.feeds.search' | translate }}
      </button>

      <div *ngIf="searchForm.controls.searchFormControl.value">
        {{ 'home.feeds.search-applied' | translate }}:
        {{ searchForm.controls.searchFormControl.value }}
      </div>
    </aside>
    <ng-container *ngIf="isShowPosts">
      <section *ngFor="let post of posts">
        <div (click)="showPostDetails(post)">
          <app-mini-post [post]="post"></app-mini-post>
        </div>
      </section>
    </ng-container>
    <ng-container *ngIf="!isShowPosts">
      <section *ngFor="let column of columns">
        <!--show column with favorite icon-->
        <app-mini-column [column]="column">
          <mat-icon
            class="favorite-icon"
            aria-hidden="false"
            aria-label="Favorite"
            *ngIf="verifyIsFavorite(column)"
            (click)="favoriteColumn(false, column._id)"
            >favorite</mat-icon
          >
          <mat-icon
            class="favorite-icon"
            aria-hidden="false"
            aria-label="Favorite"
            *ngIf="!verifyIsFavorite(column)"
            (click)="favoriteColumn(true, column._id)"
            >favorite_border</mat-icon
          >
        </app-mini-column>
      </section>
    </ng-container>
  </div>
</main>
