<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a
        mat-button
        [routerLink]="['/home']"
        class="mat-button"
        routerLinkActive="active-link"
      >
        <span class="menu-item-icon"
          ><mat-icon
            class="menu-icon"
            aria-hidden="false"
            aria-label="Favorites"
            >home</mat-icon
          >
        </span>
        <span class="menu-item-description">
          {{ 'home.feeds.title-page' | translate }}
        </span>
      </a>

      <a
        mat-button
        [routerLink]="['/posts']"
        class="mat-button"
        routerLinkActive="active-link"
      >
        <span class="menu-item-icon"
          ><mat-icon
            class="menu-icon"
            aria-hidden="false"
            aria-label="Favorites"
            >list</mat-icon
          >
        </span>
        <span class="menu-item-description">
          {{ 'columns.post.title-page' | translate }}
        </span>
      </a>
      <span class="menu-spacer"></span>
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Favorites"
        >notifications_active</mat-icon
      >
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Favorites"
        >favorite</mat-icon
      >

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a [routerLink]="['/profile']">
            <span>
              <mat-icon
                class="menu-icon"
                aria-hidden="false"
                aria-label="Settings"
                >settings</mat-icon
              >
            </span>
            <span class="menu-item-description">
              {{ 'nav.profile' | translate }}
            </span>
          </a>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>notifications_off</mat-icon>
          <span>{{ 'nav.disable-alerts' | translate }}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'nav.exit' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
