<div class="accessibility">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon
      class="accessibility-icon"
      aria-hidden="false"
      aria-label="Accessibility icon"
      closeIcon
      >more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="languages">
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>invert_colors</mat-icon>
      <span>Invert colors</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>format_size</mat-icon>
      <span>Format size</span>
    </button>
  </mat-menu>

  <mat-menu #languages="matMenu">
    <button mat-menu-item>
      <mat-icon>translate</mat-icon>
      <span>English</span>
    </button>
    <button mat-menu-item>
      <mat-icon>translate</mat-icon>
      <span>Português</span>
    </button>
    <button mat-menu-item>
      <mat-icon>translate</mat-icon>
      <span>Español</span>
    </button>
  </mat-menu>

  <mat-icon
    class="arrow-top-icon"
    aria-hidden="false"
    aria-label="Arrow top icon"
    closeIcon
  >
    arrow_upward
  </mat-icon>
</div>
