@import 'src/assets/sass/variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 9.8vh;
  .main-center {
    width: 1000px;
  }
}
.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.icons-image {
  background-image: url('src/assets/img/logo/uread-logos.png');
}
.fl-right {
  float: right;
}
@media screen and (max-width: 450px) {
  main {
    padding-top: 0px;
  }
}
