* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.icons-image {
  background-image: url('src/assets/img/logo/uread-logos.png');
}
.fl-right {
  float: right;
}
